.title {
    text-align: center;
    padding: 40px;
    margin-bottom: 100px;
    color: rgb(4, 22, 39);;
}
.actions-content {
    height: 100%;
    display: block !important;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    /*display: flex;         !* NEW, Spec - Firefox, Chrome, Opera *!*/

    justify-content: center;
    align-items: center;
}

.under-title {
    /*height: 100%;*/
    /*display: block !important;*/
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    justify-content: center;
    align-items: center;
}

/*.*/