.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.ant-tree-icon__customize {
    padding-top: 4px;
}

.ant-form-item-label {
    line-height: 30px !important;
}