

.no-margin {
    margin: 0;
    background: #041627;;
}

.main-div {
    background: #fff;
    /*padding: 24px 0 24px 0;*/
    margin: 0;
    /*minHeight: 280px;*/
    height: 100%;
}

.window {
    height: 660px;

}
.actions {
    background: white;
    height: 100%;

}

.was-deployed {
    padding: 40px 40px;
    text-align: center;

}

.binaries {
    margin-bottom: 40px;
}